:root {
  --base-white: light-dark(#ffffff, #181d27);
  --base-white_inverted: light-dark(#ffffff, #252b37);
  --brand-soft_surface: light-dark(#e6fee7, #d6fad8);
  --brand-default: light-dark(#4d8c52, #58b660);
  --brand-subtle: light-dark(#d6fad8, #b6f2ba);
  --brand-muted: light-dark(#72cf7a, #58b660);
  --brand-emphasized: light-dark(#3f7343, #72cf7a);
  --neutral-soft_surface: light-dark(#fdfdfd, #13161b);
  --neutral-subtle: light-dark(#f5f5f5, #61656c);
  --neutral-muted: light-dark(#a4a7ae, #cecfd2);
  --neutral-default: light-dark(#717680, #ececed);
  --neutral-emphasized: light-dark(#414651, #f0f0f1);
  --neutral-strong: light-dark(#181d27, #fafafa);
  --neutral-strong_alt: light-dark(#0a0d12, #f0f0f1);
  --error-soft_surface: light-dark(#fffbfa, #fef3f2);
  --error-default: light-dark(#f04438, #f97066);
  --error-subtle: light-dark(#fee4e2, #fecdca);
  --error-emphasized: light-dark(#d92d20, #f04438);
  --success-soft_surface: light-dark(#f6fef9, #ecfdf3);
  --success-default: light-dark(#17b26a, #47cd89);
  --success-subtle: light-dark(#dbfae6, #a9efc5);
  --success-emphasized: light-dark(#079455, #17b26a);
  --warning-soft_surface: light-dark(#fffcf5, #fffaeb);
  --warning-default: light-dark(#f79009, #fdb022);
  --warning-subtle: light-dark(#fef0c7, #fedf89);
  --warning-emphasized: light-dark(#dc6803, #f79009);
  --fg-brand-primary: light-dark(#4d8c52, #58b660);
  --fg-brand-secondary: light-dark(#4d8c52, #58b660);
  --fg-brand-tertiary: light-dark(#b6f2ba, #b6f2ba);
  --fg-neutral-primary: light-dark(#181d27, #85888e);
  --fg-neutral-secondary: light-dark(#535862, #cecfd2);
  --fg-neutral-tertiary: light-dark(#a4a7ae, #85888e);
  --fg-neutral-quadernary: light-dark(#d5d7da, #373a41);
  --fg-error-primary: light-dark(#d92d20, #f04438);
  --fg-error-secondary: light-dark(#f04438, #f97066);
  --fg-error-tertiary: light-dark(#fda29b, #fecdca);
  --fg-information-primary: light-dark(#1570ef, #2e90fa);
  --fg-information-secondary: light-dark(#2e90fa, #53b1fd);
  --fg-information-tertiary: light-dark(#84caff, #b2ddff);
  --fg-success-primary: light-dark(#079455, #17b26a);
  --fg-success-secondary: light-dark(#17b26a, #47cd89);
  --fg-success-tertiary: light-dark(#75e0a7, #a9efc5);
  --fg-warning-primary: light-dark(#dc6803, #f79009);
  --fg-warning-secondary: light-dark(#f79009, #fdb022);
  --fg-warning-tertiary: light-dark(#fec84b, #fedf89);
  --border-brand-xsubtle: light-dark(#d6fad8, #b6f2ba);
  --border-brand-subtle: light-dark(#b6f2ba, #92e398);
  --border-brand-default: light-dark(#4d8c52, #263b27);
  --border-neutral-xsubtle: light-dark(#f5f5f5, #22262f);
  --border-neutral-subtle: light-dark(#e9eaeb, #373a41);
  --border-neutral-muted: light-dark(#a4a7ae, #85888e);
  --border-neutral-default: light-dark(#535862, #f0f0f1);
  --border-error-subtle: light-dark(#fecdca, #fda29b);
  --border-error-default: light-dark(#f04438, #f04438);
  --border-success-subtle: light-dark(#a9efc5, #75e0a7);
  --border-success-default: light-dark(#17b26a, #17b26a);
  --border-warning-subtle: light-dark(#fedf89, #fec84b);
  --border-warning-default: light-dark(#f79009, #f79009);
  --action-base-white: light-dark(#ffffff, #13161b);
  --action-base-white_inverted: light-dark(#ffffff, #ffffff);
  --action-base-disable: light-dark(#ffffff, #345636);
  --action-brand-normal: light-dark(#4d8c52, #58b660);
  --action-brand-hover: light-dark(#3f7343, #72cf7a);
  --action-brand-focussed: light-dark(#4d8c52, #58b660);
  --action-brand-active: light-dark(#4d8c52, #58b660);
  --action-brand-disabled: light-dark(#b6f2ba, #d6fad8);
  --action-brand-light_normal: light-dark(#e6fee7, #d6fad8);
  --action-brand-light_hover: light-dark(#d6fad8, #b6f2ba);
  --action-brand-light_focussed: light-dark(#e6fee7, #d6fad8);
  --action-brand-light_active: light-dark(#e6fee7, #d6fad8);
  --action-brand-light_disabled: light-dark(#e6fee7, #d6fad8);
  --action-neutral-normal: light-dark(#535862, #fafafa);
  --action-neutral-hover: light-dark(#414651, #cecfd2);
  --action-neutral-focussed: light-dark(#535862, #fafafa);
  --action-neutral-active: light-dark(#717680, #fafafa);
  --action-neutral-disabled: light-dark(#e9eaeb, #61656c);
  --action-neutral-light_normal: light-dark(#fdfdfd, #22262f);
  --action-neutral-light_hover: light-dark(#fafafa, #373a41);
  --action-neutral-light_focussed: light-dark(#fdfdfd, #22262f);
  --action-neutral-light_active: light-dark(#fdfdfd, #22262f);
  --action-neutral-light_disabled: light-dark(#fdfdfd, #22262f);
  --action-error-normal: light-dark(#f04438, #f97066);
  --action-error-hover: light-dark(#d92d20, #fda29b);
  --action-error-focussed: light-dark(#f04438, #f97066);
  --action-error-active: light-dark(#f04438, #f97066);
  --action-error-disabled: light-dark(#fee4e2, #fef3f2);
  --action-error-light_normal: light-dark(#fffbfa, #fef3f2);
  --action-error-light_hover: light-dark(#fef3f2, #fee4e2);
  --action-error-inverted_light_hover: light-dark(#fffbfa, #fef3f2);
  --action-error-light_focussed: light-dark(#fffbfa, #fef3f2);
  --action-error-light_active: light-dark(#fffbfa, #fef3f2);
  --action-error-inverted_light_active: light-dark(#fffbfa, #fee4e2);
  --action-error-light_disabled: light-dark(#fffbfa, #fee4e2);
  --action-success-normal: light-dark(#17b26a, #47cd89);
  --action-success-hover: light-dark(#079455, #75e0a7);
  --action-success-focussed: light-dark(#17b26a, #47cd89);
  --action-success-active: light-dark(#17b26a, #47cd89);
  --action-success-disabled: light-dark(#dbfae6, #dbfae6);
  --action-success-light_normal: light-dark(#f6fef9, #ecfdf3);
  --action-success-light_hover: light-dark(#ecfdf3, #dbfae6);
  --action-success-light_focussed: light-dark(#f6fef9, #ecfdf3);
  --action-success-light_active: light-dark(#f6fef9, #ecfdf3);
  --action-success-light_disabled: light-dark(#f6fef9, #dbfae6);
  --action-warning-normal: light-dark(#f79009, #fdb022);
  --action-warning-hover: light-dark(#dc6803, #fec84b);
  --action-warning-focussed: light-dark(#f79009, #fdb022);
  --action-warning-active: light-dark(#f79009, #fdb022);
  --action-warning-disabled: light-dark(#fef0c7, #fef0c7);
  --action-warning-light_normal: light-dark(#fffcf5, #fffaeb);
  --action-warning-light_hover: light-dark(#fffaeb, #fef0c7);
  --action-warning-light_focussed: light-dark(#fffcf5, #fffaeb);
  --action-warning-light_active: light-dark(#fffcf5, #fffaeb);
  --action-warning-light_disabled: light-dark(#fffcf5, #fef0c7);
  --action-fg-base-white: light-dark(#ffffff, #13161b);
  --action-fg-base-white_inverted: light-dark(#ffffff, #ffffff);
  --action-fg-brand-normal: light-dark(#4d8c52, #58b660);
  --action-fg-brand-hover: light-dark(#3f7343, #72cf7a);
  --action-fg-brand-focussed: light-dark(#4d8c52, #58b660);
  --action-fg-brand-active: light-dark(#4d8c52, #58b660);
  --action-fg-brand-disabled: light-dark(#b6f2ba, #b6f2ba);
  --action-fg-brand-inverted_normal: light-dark(#4d8c52, #4d8c52);
  --action-fg-brand-inverted_hover: light-dark(#3f7343, #58b660);
  --action-fg-brand-inverted_focussed: light-dark(#4d8c52, #4d8c52);
  --action-fg-brand-inverted_active: light-dark(#4d8c52, #4d8c52);
  --action-fg-brand-inverted_disabled: light-dark(#b6f2ba, #92e398);
  --action-fg-neutral-normal: light-dark(#535862, #fafafa);
  --action-fg-neutral-normal_light: light-dark(#a4a7ae, #94979c);
  --action-fg-neutral-hover: light-dark(#414651, #f7f7f7);
  --action-fg-neutral-focussed: light-dark(#535862, #fafafa);
  --action-fg-neutral-active: light-dark(#717680, #fafafa);
  --action-fg-neutral-disabled: light-dark(#e9eaeb, #61656c);
  --action-fg-error-normal: light-dark(#f04438, #f04438);
  --action-fg-error-hover: light-dark(#d92d20, #f97066);
  --action-fg-error-inverted_hover: light-dark(#d92d20, #d92d20);
  --action-fg-error-focussed: light-dark(#f04438, #f04438);
  --action-fg-error-active: light-dark(#f04438, #f04438);
  --action-fg-error-inverted_active: light-dark(#f04438, #f97066);
  --action-fg-error-disabled: light-dark(#fecdca, #fee4e2);
  --action-fg-error-inverted_disabled: light-dark(#fffbfa, #fecdca);
  --action-fg-success-normal: light-dark(#079455, #47cd89);
  --action-fg-success-hover: light-dark(#067647, #75e0a7);
  --action-fg-success-focussed: light-dark(#079455, #47cd89);
  --action-fg-success-active: light-dark(#079455, #47cd89);
  --action-fg-success-disabled: light-dark(#dbfae6, #dbfae6);
  --action-fg-success-inverted_disabled: light-dark(#f6fef9, #dbfae6);
  --action-fg-warning-normal: light-dark(#dc6803, #fdb022);
  --action-fg-warning-hover: light-dark(#b54708, #fec84b);
  --action-fg-warning-focussed: light-dark(#dc6803, #fdb022);
  --action-fg-warning-active: light-dark(#dc6803, #fdb022);
  --action-fg-warning-disabled: light-dark(#fedf89, #fef0c7);
  --action-fg-warning-inverted_disabled: light-dark(#fffcf5, #fffaeb);
  --action-border-brand-normal: light-dark(#4d8c52, #4d8c52);
  --action-border-brand-hover: light-dark(#3f7343, #58b660);
  --action-border-brand-focussed: light-dark(#4d8c52, #4d8c52);
  --action-border-brand-active: light-dark(#4d8c52, #4d8c52);
  --action-border-brand-disabled: light-dark(#b6f2ba, #b6f2ba);
  --action-border-neutral-normal: light-dark(#535862, #fafafa);
  --action-border-neutral-hover: light-dark(#414651, #f7f7f7);
  --action-border-neutral-focussed: light-dark(#535862, #fafafa);
  --action-border-neutral-active: light-dark(#535862, #fafafa);
  --action-border-neutral-disabled: light-dark(#e9eaeb, #373a41);
  --action-border-neutral-light_normal: light-dark(#d5d7da, #85888e);
  --action-border-neutral-light_hover: light-dark(#a4a7ae, #85888e);
  --action-border-neutral-light_focussed: light-dark(#d5d7da, #85888e);
  --action-border-neutral-light_active: light-dark(#d5d7da, #85888e);
  --action-border-neutral-light_disabled: light-dark(#e9eaeb, #61656c);
  --action-border-error-normal: light-dark(#f04438, #f97066);
  --action-border-error-hover: light-dark(#d92d20, #f97066);
  --action-border-error-focussed: light-dark(#f04438, #f04438);
  --action-border-error-active: light-dark(#f04438, #f04438);
  --action-border-error-disabled: light-dark(#fee4e2, #fee4e2);
  --action-border-error-light_normal: light-dark(#fee4e2, #fee4e2);
  --action-border-error-light_hover: light-dark(#fecdca, #fecdca);
  --action-border-error-light_focussed: light-dark(#fee4e2, #fecdca);
  --action-border-error-light_active: light-dark(#fee4e2, #fee4e2);
  --action-border-error-light_disabled: light-dark(#fef3f2, #fee4e2);
  --action-border-success-normal: light-dark(#17b26a, #47cd89);
  --action-border-success-hover: light-dark(#079455, #47cd89);
  --action-border-success-focussed: light-dark(#17b26a, #17b26a);
  --action-border-success-active: light-dark(#17b26a, #17b26a);
  --action-border-success-disabled: light-dark(#dbfae6, #dbfae6);
  --action-border-success-light_normal: light-dark(#dbfae6, #dbfae6);
  --action-border-success-light_hover: light-dark(#a9efc5, #a9efc5);
  --action-border-success-light_focussed: light-dark(#dbfae6, #a9efc5);
  --action-border-success-light_active: light-dark(#dbfae6, #dbfae6);
  --action-border-success-light_disabled: light-dark(#ecfdf3, #dbfae6);
  --action-border-warning-normal: light-dark(#f79009, #fdb022);
  --action-border-warning-hover: light-dark(#dc6803, #fdb022);
  --action-border-warning-focussed: light-dark(#f79009, #f79009);
  --action-border-warning-active: light-dark(#f79009, #f79009);
  --action-border-warning-disabled: light-dark(#fef0c7, #fef0c7);
  --action-border-warning-light_normal: light-dark(#fef0c7, #fef0c7);
  --action-border-warning-light_hover: light-dark(#fedf89, #fedf89);
  --action-border-warning-light_focussed: light-dark(#fef0c7, #fedf89);
  --action-border-warning-light_active: light-dark(#fef0c7, #fef0c7);
  --action-border-warning-light_disabled: light-dark(#fffaeb, #fef0c7);
}